# Auto detect text files and perform LF normalization
* text=auto

# Do not put this files on a distribution package (by .gitignore)
/vendor              export-ignore
/composer.lock       export-ignore
