# Auto detect text files and perform LF normalization
* text=auto
*.xls text=binary
*.xlsx text=binary

# Do not put this files on a distribution package (by .gitignore)
/tools               export-ignore
/vendor              export-ignore
/composer.lock       export-ignore
